[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl_3"]

[phases.install]
cmds = [
  "cd backend",
  "npm ci"
]

[phases.build]
cmds = [
  "cd backend",
  "npx prisma generate",
  "npm run build"
]

[start]
cmd = "cd backend && npx prisma migrate deploy && npx prisma db seed && npm run start:prod"
